@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&family=Red+Rose&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&family=Red+Rose:wght@300;400&family=Young+Serif&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
body {
  background-color: rgb(240, 240, 136);
  background-image: url('wood.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

* {
  padding: 0;
  margin: 0;
}
nav {
  font-family: "Young Serif", serif;
}
nav ul {
  align-items: center;
  display: flex;
  list-style-type: none;
  height: 65px;
  background-color: rgb(12, 12, 12);
  color: white;
}
nav ul li {
  padding: 0px 10px;
}
.brand img {
  width: 40px;
  padding: 0px 7px;
}
.brand {
  color: #24e869;
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 19px;
}
.container {
  min-height: 70vh;
  font-family: 'Dancing Script', cursive;
  color:white;
  background-color: darkgray;
  display: flex;
  width: 75%;
  margin: 25px auto;
  border-radius: 15px;
  padding: 30px;
  background-image: url('music.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 15px 15px 15px black;
}
.bottom {
  position: sticky;
  bottom: 0;
  height: 130px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#myProgressBar {
  width: 150vh;
  cursor: pointer;
}
.icons {
  margin: 12px;
}
.icons i {
  cursor: pointer;
}
.songItem{
    height: 50px;
    display: flex;
    background-color: rgba(217, 213, 199, 0.683);
    font-size: 20px;
    color: black;
    font-weight: 100;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}

.songItem img{
    width: 43px;
    margin: 0 23px;
    border-radius: 34px;
}
.timestamp{
    margin: 0 23px;
    font-size: 20px;
}

.timestamp i{
    cursor: pointer;
}
.songItemContaoner{
    margin-top: 50px;
    width: 150%;
}
.songInfo {
    position: absolute;
    left: 10vw;
    font-family: "Young Serif", serif;
    display: flex;
    align-items: center;
}
.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

#masterSongName {
    margin-left: 10px; 
}




